---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Det sker">
  <div>
    <!-- ***************************** Start Eventkalender ***************************** -->
    <section class="bg-background-v2">
      <p>Eventkalender</p>
    </section>
    <!-- ***************************** End Eventkalender ***************************** -->

    <!-- ***************************** Start Nyt fra CKMS ***************************** -->
    <section class="bg-background-v3">
      <p>Nyt fra CKMS</p>
    </section>
    <!-- ***************************** End Nyt fra CKMS ***************************** -->

    <!-- ***************************** Start Udstillinger ***************************** -->
    <section class="bg-background-v4">
      <p>Udstillinger</p>
    </section>
    <!-- ***************************** End Udstillinger ***************************** -->

    <!-- ***************************** Start Bestil et foredrag ***************************** -->
    <section class="bg-background-v5">
      <p>Bestil et foredrag</p>
    </section>
    <!-- ***************************** End Bestil et foredrag ***************************** -->
  </div>
</MainLayout>
