---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="CKMS">
  <div>
    <!-- ***************************** Start Hero ***************************** -->
    <section class="bg-background-v2">
      <p>Hero sektion</p>
    </section>
    <!-- ***************************** End Hero ***************************** -->

    <!-- ***************************** Start Vision og mission ***************************** -->
    <section class="bg-background-v3">
      <p>Vision og mission</p>
    </section>
    <!-- ***************************** End Vision og mission ***************************** -->

    <!-- ***************************** Start Til dig, som er ***************************** -->
    <section class="bg-background-v4">
      <p>Til dig, som er ...</p>
    </section>
    <!-- ***************************** End Til dig, som er ***************************** -->

    <!-- ***************************** Start Workshops ***************************** -->
    <section class="bg-background-v5">
      <p>Workshops</p>
    </section>
    <!-- ***************************** End Workshops ***************************** -->

    <!-- ***************************** Start Støt vores formål og arbejde ***************************** -->
    <section class="bg-background-v2">
      <p>Støt vores formål og arbejde</p>
    </section>
    <!-- ***************************** End Støt vores formål og arbejde ***************************** -->

    <!-- ***************************** Start Udstillinger i CKMS ***************************** -->
    <section class="bg-background-v3">
      <p>Udstillinger i CKMS</p>
    </section>
    <!-- ***************************** End Udstillinger i CKMS ***************************** -->

    <!-- ***************************** Start Video ***************************** -->
    <section class="bg-background-v4">
      <p>Video</p>
    </section>
    <!-- ***************************** End Video ***************************** -->

    <!-- ***************************** Start Nyt fra CKMS ***************************** -->
    <section class="bg-background-v5">
      <p>Nyt fra CKMS</p>
    </section>
    <!-- ***************************** End Nyt fra CKMS ***************************** -->

    <!-- ***************************** Start Nyhedsbrev ***************************** -->
    <section class="bg-background-v2">
      <p>Nyhedsbrev</p>
    </section>
    <!-- ***************************** End Nyhedsbrev ***************************** -->

    <!-- ***************************** Start Følg med på Instagram ***************************** -->
    <section class="bg-background-v3">
      <p>Følg med på Instagram</p>
    </section>
    <!-- ***************************** End Følg med på Instagram ***************************** -->
  </div>
</MainLayout>
