---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Om os">
  <div>
    <!-- ***************************** Start Om os ***************************** -->
    <section class="bg-background-v2">
      <p>Om os</p>
    </section>
    <!-- ***************************** End Om os ***************************** -->

    <!-- ***************************** Start Kunst og psykiatri ***************************** -->
    <section class="bg-background-v3">
      <p>Kunst og psykiatri</p>
    </section>
    <!-- ***************************** End Kunst og psykiatri ***************************** -->

    <!-- ***************************** Start Aktivitetsteamet ***************************** -->
    <section class="bg-background-v4">
      <p>Aktivitetsteamet</p>
    </section>
    <!-- ***************************** End Aktivitetsteamet ***************************** -->

    <!-- ***************************** Start Vi glæder os til at høre fra dig! ***************************** -->
    <section class="bg-background-v5">
      <p>Vi glæder os til at høre fra dig!</p>
    </section>
    <!-- ***************************** End Vi glæder os til at høre fra dig! ***************************** -->

    <!-- ***************************** Start Følg med på Instagram ***************************** -->
    <section class="bg-background-v2">
      <p>Følg med på Instagram</p>
    </section>
    <!-- ***************************** End Følg med på Instagram ***************************** -->

    <!-- ***************************** Start Organisation og vedtægter ***************************** -->
    <section class="bg-background-v3">
      <p>Organisation og vedtægter</p>
    </section>
    <!-- ***************************** End Organisation og vedtægter ***************************** -->
  </div>
</MainLayout>
