---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Til Dig">
  <div>
    <!-- ***************************** Start Til dig, som er intro ***************************** -->
    <section class="bg-background-v2">
      <p>Til dig, som er ...</p>
    </section>
    <!-- ***************************** End Til dig, som er intro ***************************** -->

    <!-- ***************************** Start Til dig, som er bruger ***************************** -->
    <section class="bg-background-v3">
      <p>Til dig som er bruger</p>
    </section>
    <!-- ***************************** End Til dig, som er bruger ***************************** -->

    <!-- ***************************** Start Til dig, som er forsker ***************************** -->
    <section class="bg-background-v4">
      <p>Til dig som er forsker</p>
    </section>
    <!-- ***************************** End Til dig, som er forsker ***************************** -->

    <!-- ***************************** Start Til dig, som er kunstner ***************************** -->
    <section class="bg-background-v5">
      <p>Til dig som er kunstner</p>
    </section>
    <!-- ***************************** End Til dig, som er kunstner ***************************** -->

    <!-- ***************************** Start Til dig, som er behandler ***************************** -->
    <section class="bg-background-v2">
      <p>Til dig som er behandler</p>
    </section>
    <!-- ***************************** End Til dig, som er behandler ***************************** -->
  </div>
</MainLayout>
