---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  brødtekst: "text-[18px] md:text-[25px] font-light font-onsite",
  brødtekstbold: "text-[18px] md:text-[25px] font-bold font-onsite",
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
