---
import Heading from "./Heading.astro";

const { class: className = "", basePath = "" } = Astro.props;
const hrefFor = (suffix) => (basePath ? `${basePath}#${suffix}` : `#${suffix}`);
---

<div class:list={["grid grid-cols-4 gap-2xs md:grid-cols-12", className]}>
  <div
    class="col-span-2 md:col-span-3 opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:animate-delay-300 intersect-once"
  >
    <a href={hrefFor("til-dig-bruger")} class="block">
      <div class="hover-3d w-full">
        <img
          src="/img/Brugerbillede.webp"
          alt="Bruger"
          class="w-full h-auto object-cover"
        />
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Bruger
    </Heading>
  </div>

  <div
    class="col-span-2 md:col-span-3 opacity-0 intersect:opacity-100 intersect:animate-fade-down intersect:animate-delay-300 intersect-once"
  >
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Forsker
    </Heading>
    <a href={hrefFor("til-dig-forsker")} class="block">
      <div class="hover-3d w-full">
        <img
          src="/img/Forskerbillede.webp"
          alt="Forsker"
          class="w-full h-auto object-cover"
        />
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
  </div>

  <div
    class="col-span-2 md:col-span-3 opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:animate-delay-300 intersect-once"
  >
    <a href={hrefFor("til-dig-kunstner")} class="block">
      <div class="hover-3d w-full">
        <img
          src="/img/Kunstnerbillede.webp"
          alt="Kunstner"
          class="w-full h-auto object-cover"
        />
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Kunstner
    </Heading>
  </div>

  <div
    class="col-span-2 md:col-span-3 opacity-0 intersect:opacity-100 intersect:animate-fade-down intersect:animate-delay-300 intersect-once"
  >
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Behandler
    </Heading>
    <a href={hrefFor("til-dig-behandler")} class="block">
      <div class="hover-3d w-full">
        <img
          src="/img/Behandlerbillede.webp"
          alt="Behandler"
          class="w-full h-auto object-cover"
        />
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
  </div>
</div>
