---
import Heading from "./Heading.astro";
---

<div class="grid grid-cols-4 gap-2xs md:grid-cols-12">
  <div class="col-span-2 md:col-span-3">
    <img
      src="/img/Brugerbillede.webp"
      alt="Bruger"
      class="w-full h-auto object-cover"
    />
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Bruger
    </Heading>
  </div>

  <div class="col-span-2 md:col-span-3">
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Forsker
    </Heading>
    <img
      src="/img/Forskerbillede.webp"
      alt="Forsker"
      class="w-full h-auto object-cover"
    />
  </div>

  <div class="col-span-2 md:col-span-3">
    <img
      src="/img/Behandlerbillede.webp"
      alt="Behandler"
      class="w-full h-auto object-cover"
    />
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Behandler
    </Heading>
  </div>

  <div class="col-span-2 md:col-span-3">
    <Heading htmlheading="h4" size="xsmall" stylingclasses="text-text-dark">
      Kunstner
    </Heading>
    <img
      src="/img/Kunstnerbillede.webp"
      alt="Kunstner"
      class="w-full h-auto object-cover"
    />
  </div>
</div>
